body{
    background-color:whitesmoke;
}
main {
    height: 100vw;
    background-color:whitesmoke;
}
.container{
    display: flex;
    height:100vw;
    justify-content: center;
    background-color:whitesmoke;
    /* align-items: center; */
}
.main-flex{
    display: flex;
    flex-direction: column;
    height:70vh;
    width:70vw;
    background-color:whitesmoke;
    color: black!important;
    /* justify-content: center; */
    align-items: center;
    border-radius: 5rem;
    border-style: solid;
    border-color: #057bd5;
    margin-top:5rem;
}
.conversion-data{
    margin-top:4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* align-items: center; */
    justify-items: center;
    width: 90%;
}
.result{
    display: flex;
}
.result img{
    max-width:50px;
}#logout:hover {
    color: blue !important;
  }