@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    text-shadow: 0 2px 2px lightgray;
    overflow: hidden;
    margin: 0;
  }
  
  .container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  
  .left-half,
  .right-half {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left-half {
    background-color: #047BD5;
  }
  
  .right-half {
    background-color: #f7f7f7; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }
  
  .section-container {
    text-align: center;
    padding: 20px;
    width: 60%;
    color: #1e1e1e; 
  }
  
  .section-container h3.mb-3 {
    font-size: 35px;
    color: #323232; 
    margin-bottom: 10px;
  }
    
#emailInp, #passInp {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  #emailLabel, #passLabel {
    display: block;
    font-weight: bold;
    margin-bottom: 20x;
    text-align: left;
    color: #323232; /* Adjust label color */
  }
  
  
  .mb-5 h3,
  .mb-5 input,
  .mb-5 .custom-control,
  .mb-5 button,
  .mb-5 .ask-account {
    margin-bottom: 15px;
  }
  
  .section-container input.form-control.mb-3 {
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: #fff;
    color: #323232;
  }
  
  .section-container input::placeholder {
    font-size: 18px;
    color: #323232;
    font-family: "Montserrat", sans-serif;
  }
  
  .section-container button#submitBtn.btn.w-100.btn-outline-primary.mb-3 {
    color: #047BD5;
    background: #F8E831;
    font-weight: 800;
    font-size: 18px;
    border: none;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    padding: 10px 55px;
    margin-top: 0;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  .section-container button#submitBtn.btn.w-100.btn-outline-primary.mb-3:hover {
    background: #f9ec63;
  }

  .image-wrapper {
    height: 20rem;
    width: 40rem;
    border-radius: 6px;
    background-color: #047BD5;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.6;
  }
  .image-wrapper img {
    height: auto;
    max-width: 100%;
  }
  
  .shine {
    position: relative;
    overflow: hidden;
  }
  .shine::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    content: "";
    display: block;
    height: 100%;
    left: -75%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
  }
  .shine:hover::before, .shine:focus::before {
    -webkit-animation: shine 1.5s;
            animation: shine 1.5s;
  }
  @-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
  }
  .ask-account {
    font-size: 15px;
    margin: 10px 0;
  }
  
  .ask-account-link {
    color: #047BD5;
    text-decoration: none;
  }
  
  .ask-account-link:hover {
    text-decoration: underline;
    color: #F7A200;
  }
  .mylabel{
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
  }
  