@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #047BD5 !important;
    font-family: "Montserrat", sans-serif;
}

main {
    width: auto;
    margin: 1% 10%;
}
     
.section-container {
    height: 40%;
    max-height: 100vh;
    width: 70vw;
    margin: 0% 8% 0% 8%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 5px #fff;
    border-radius: 25px;
    transition: all 300ms ease-in-out;
    background-color: whitesmoke;
}


.section-container .imgBx {
    width:  40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    vertical-align: baseline;
    height: auto;
    margin-right: 1rem;
    margin-left: 3rem;
}

.section-container .imgBx img{
    width: 25vw;
    height: 25vw;
    border-radius: 2rem;
}

.section-container .mb-5{
    padding-top: 2rem;
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-container .mb-5.mb-3{
    width: 50%;
    font-size: 35px;
    color: #323232; 
    margin-bottom: 10px;
}

.section-container h3.mb-3 {
    margin: 0 6%;
    text-align: center;
    font-size: 40px;
    color: #323232;
    border-bottom: 4px solid #F8E831;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

.topper {
    margin-top: 1%;
}

.section-container input.form-control.mb-3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #323232;
    width: 82%;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}
.section-container input::placeholder{
    font-size: 18px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}
.section-container button#sub_btn.btn.w-100.btn-outline-primary.mb-3 {
    color: #047BD5;
    background: #F8E831;
    font-weight: 800;
    font-size: 18px;
    border: none;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    padding: 10px 55px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.section-container button#sub_btn.btn.w-100.btn-outline-primary.mb-3:hover {
    background: #f9ec63;
    border: none;
    transition: 0.5s;
}
.ask-account {
    font-size: 15px;
    color: #323232;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.ask-account-link {
    color: #0073cf;
    font-size: 15px;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}
.mylabel{
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
    padding-left: 25px;
    padding-bottom: 7px;
  }
  