body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
  }
  
  main {
    height: auto; /* Change to auto */
  }
  
  .container {
    display: flex;
    /* height: 100vw; */
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-direction: column;
    padding: 2rem; /* Added padding for spacing */
  }
  
  .token-display {
    display: flex;
    height: 10vh;
    width: 70vw;
    /* background-color: #057bd5; */
    border: 3px solid #057bd5;
    border-radius: 1rem;
    margin-top: 2rem; /* Adjusted margin */
    justify-content: center;
    align-items: center;
  }
.coin-image {
    max-width: 50px; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Adjust margin as needed */
    margin-left: 10px;
}

  .main-flex {
    display: flex;
    height: auto; /* Change to auto */
    width: 70vw;
    background-color: whitesmoke;
    border-radius: 1rem;
    border: 3px solid #057bd5;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Reduced to 2 columns for alignment */
    grid-gap: 1em; /* Added gap between logos */
    color: white;
    justify-items: center;
    align-items: center;
    /* background-color: #f9ec63; */
    padding: 1rem; /* Added padding */
    margin: 1rem;
    border-radius: 30px;
  }
  
  .logo {
    border-radius: 0.5rem;
    margin: 10px;
    background-color: #f9ec63;
  }
  
  .logo-flex {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden; /* Hide overflowing content */
  }
  .logo-img:hover{
    transform: scale(1.1);
    transition-duration:0.5s ;
  }
  
  .logo-img img {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
  }
  
  .logo-name {
    font-weight: 900;
    color: #057bd5;
  }
  